/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: "SqMarket";
   src: url("https://connectv2-docs-production-f.squarecdn.com/assets/sqmarket/sqmarket-bold-054473e1aeec9c147f04a20aa7f0cc24b77d8c5818f693fc9473c5d55f6c0f18.woff") format("woff");
   src: url("https://connectv2-docs-production-f.squarecdn.com/assets/sqmarket/sqmarket-medium-890b696bca1650f397dbfa244c8d0c2a497765c638dbaf776de09413a6b83d5d.woff") format("woff");
   src: url("https://connectv2-docs-production-f.squarecdn.com/assets/sqmarket/sqmarket-lightitalic-88f806e3e6467f3b154ca685786c1b12a23388f998e0cb88c95a3b87183d1843.woff") format("woff");
   src: url("https://connectv2-docs-production-f.squarecdn.com/assets/sqmarket/sqmarket-regular-9720e9f4071a43368f1d543cb21c7686c7443dd833e069b5809a5e4bc2468bfd.woff") format("woff");
   src: url("https://connectv2-docs-production-f.squarecdn.com/assets/sqmarket/sqmarket-light-fa79c43e0e9d0ab1765cdfd0b7ad4dcaeae46615f638f7d91404d4c75a9c1554.woff") format("woff");
 }

html {
  font-family: "SqMarket", "helvetica neue", helvetica, arial, sans-serif;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

.btn-floating {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.breadcrumb:first-child {
  margin-left: 1.5rem;
}

nav {
  height: 56px;
  line-height: 24px;
  border-bottom: 1px solid #e0e2e3;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 15px;
  font-weight: 500;
  background-color: white;
}

body > div > div > nav {
  border-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

nav ul {
  margin-left: 150px;
}
.brand-logo {
  margin-left: 24px;
  height: 22px;
  width: 107px;
  background: url(https://connectv2-docs-production-f.squarecdn.com/assets/icons/icon-header-609227224ea9f385ad12385f42d0af568301c5d17ccd95684043ebc5be82cca8.svg) no-repeat;
}

.breadcrumb:before {
  color: #e0d3d3;
}

.breadcrumb, .breadcrumb:last-child {
 color: grey;
 font-weight: 300;
}

.breadcrumb:last-child {
  font-weight: 400;
}
